@import url('https://fonts.googleapis.com/css2?family=Clash+Display:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 71% 4%;
    --foreground: 0 0% 100%;
    --card: 215 28% 17%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 182 73% 63%;
    --primary-foreground: 224 71% 4%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 182 73% 63%;
    --muted: 240 5% 65%;
    --muted-foreground: 216 12% 84%;
    --accent: 182 99% 49%;
    --accent-foreground: 224 71% 4%;
    --border: 215 14% 34%;
    --success: 142 71% 45%;
    --success-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --input: 0 0% 100%;
  }
}

body {
  font-family: 'Clash Display', sans-serif;
  @apply bg-background text-foreground overflow-hidden;
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-[#5ce1e6] to-[#01f0f8];
}

.floating {
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}